* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --primary: #FCF7F8;
  --accent: #F5CB5C;
  --secondary-black: #242423;
  --secondary-gray: #333533;
  --tinge-aqua: #CFDBD5;
  --tinge-green: #E8EDDF;
  --error: #FF6058;
  --approve: #65FF58;
  --shadow: #ECEBEB;
}

body {
  background: var(--shadow);
}

/* START OF SIDEBAR */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  background: var(--primary);
  z-index: 1000;
  transition: .3s ease;
  overflow-x: hidden;
}

#sidebar.hide {
  width: 85px;
}

#sidebar .logo-img {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  margin: 20px auto 0;
  filter: drop-shadow(0 36px 8px rgba(0, 0, 0, 0.1));
}

#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;

}

#sidebar .side-menu li {
  height: 48px;
  margin-left: 40px;
  background: transparent;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}

#sidebar .side-menu li.active {
  background: var(--shadow);
  position: relative;
}

#sidebar .side-menu li.active::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--shadow);
  z-index: -1;
}

#sidebar .side-menu li.active::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0px;
  box-shadow: 20px -20px 0 var(--shadow);
  z-index: -1;
}

#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  display: flex;
  font-weight: bold;
  align-items: center;
  color: var(--gray);
  font-size: 16px;
  border: 48px 0 0 48px;
  border-radius: 48px;
  background-color: var(--primary);
  white-space: nowrap;
  overflow-x: hidden;
}

#sidebar.hide .side-menu li.active a {
  color: var(--accent);
}

#sidebar.hide .side-menu li a {
  width: calc(48px - (4px *2));
  transition: width 3s ease;
}

#sidebar .side-menu.top li a:hover {
  color: #F5CB5C;
}

#sidebar .side-menu li a.report:hover {
  color: #FF6058;
}

#sidebar .side-menu li.active a.report {
  color: #FF6058;
}

#sidebar .side-menu li a.logout {
  color: #FF6058;
}

#sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
  font-size: 18px;
}

/* END OF SIDEBAR */

/* START OF CONTENT */
#content {
  position: relative;
  width: calc(100 - 260px);
  left: 260px;
  transition: width 0.3s ease;
}

#sidebar.hide ~ #content {
  width: calc(100% - 85px);
  left: 85px;
}

/* END OF CONTENT */

/* START NAVBAR*/
#content nav {
  height: 56px;
  background: var(--primary);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
}

#content nav::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -35px;
  left: -5px;
  border-radius: 50%;
  box-sizing: -20px -20px 0 var(--shadow);
}

#content nav a {
  color: var(--secondary-black);
}

#content nav .bx.bx-menu-alt-left {
  cursor: pointer;
}

#content nav .bx.bx-menu-alt-left:hover {
  color: var(--accent);
}

#content nav .nav-link {
  font-size: 16px;
  transition: .3s ease;
}

#content nav .nav-link:hover {
  color: var(--accent);
}

#content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}

#content nav form .form-input {
  display: flex;
  align-items: center;
  height: 36px;

}

#content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: #F4F5FB;
  border-radius: 36px 0 0 36px;
  outline: none;
}

#content nav form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--accent);
  color: var(--secondary-gray);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}

#content nav .notification {
  font-size: 20px;
  position: fixed;
  right: 70px;
}

#content nav .notification .num {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--primary);
  background-color: var(--error);
  color: var(--secondary-gray);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content nav .notification:hover i.bx.bxs-bell {
  color: var(--accent);
}

#content nav .profile {
  font-size: 24px;
  position: fixed;
  right: 30px;
}

/* END OF NAVBAR */

/* ROOMS LIST */

.notification {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
}

.room-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.room {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 15px;
  text-align: center;
  max-width: 200px;
}

.room h2 {
  color: #333;
}

.room p {
  margin: 5px 0;
}

.room-photo {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

.edit-room-btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #F5CB5C;
  /* Change the background color to your preference */
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.edit-room-btn:hover {
  background-color: #F5CB5C;
  /* Change the hover color to your preference */
}

/* EQUIPMENTS LIST */
.equipment-list {
  display: flex;
  flex-wrap: wrap; /* Ensure the equipment items wrap to the next line if the width is not enough */
}

.equipment {
  width: calc(33.33% - 20px); /* Adjust the width of each equipment item based on your layout */
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

/* Add media query for responsiveness */
@media (max-width: 768px) {
  #content {
    margin-left: 0; /* Adjust the margin for smaller screens */
  }

  .equipment {
    width: 100%; /* Make each equipment item take the full width on smaller screens */
  }
}