<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Admin</title>
    <link rel="icon" href="/assets/images/r-icon.png" type="image/png">
    <link rel="stylesheet" href="/styles/contact_admin.css">
</head>
<body>
    <div class="wrapper">
        <div class="info-box">
            <img src="./assets/images/rentify-icon.png" alt="Rentify Logo" class="logo-img">
            <h2>Please contact your administrator</h2>
            <button class="return-button">
                <a href="/user_login">Return to Login</a>
            </button>
        </div>
    </div>
</body>
</html>
