* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --primary: #FCF7F8;
  --accent: #F5CB5C;
  --secondary-black: #242423;
  --secondary-gray: #333533;
  --tinge-aqua: #CFDBD5;
  --tinge-green: #E8EDDF;
  --error: #FF6058;
  --approve: #65FF58;
  --shadow: #ECEBEB;
}

body {
  background: var(--shadow);
}

/* START OF SIDEBAR */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  background: var(--primary);
  z-index: 700;
  transition: .3s ease;
  overflow-x: hidden;
}

#sidebar.hide {
  width: 85px;
}

#sidebar .logo-img {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  margin: 20px auto 0;
  filter: drop-shadow(0 36px 8px rgba(0, 0, 0, 0.1));
}

#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;

}

#sidebar .side-menu li {
  height: 48px;
  margin-left: 40px;
  background: transparent;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}

#sidebar .side-menu li.active {
  background: var(--shadow);
  position: relative;
}

#sidebar .side-menu li.active::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--shadow);
  z-index: -1;
}

#sidebar .side-menu li.active::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0px;
  box-shadow: 20px -20px 0 var(--shadow);
  z-index: -1;
}

#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  display: flex;
  font-weight: bold;
  align-items: center;
  color: var(--gray);
  font-size: 16px;
  border: 48px 0 0 48px;
  border-radius: 48px;
  background-color: var(--primary);
  white-space: nowrap;
  overflow-x: hidden;
}

#sidebar.hide .side-menu li.active a {
  color: var(--accent);
  width: calc(48px - (4px * 2))
}

#sidebar.hide .side-menu li a {
  width: calc(48px - (4px *2));
  transition: width 3s ease;
}

#sidebar .side-menu.top li a:hover {
  color: #F5CB5C;
}

#sidebar .side-menu li a.report:hover {
  color: #FF6058;
}

#sidebar .side-menu li.active a.report {
  color: #FF6058;
}

#sidebar .side-menu li a.logout {
  color: #FF6058;
}

#sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
  font-size: 18px;
}

/* END OF SIDEBAR */

/* START OF CONTENT */
#content {
  position: relative;
  width: calc(100 - 260px);
  left: 260px;
  transition: .3s ease;
}

#sidebar.hide~#content {
  width: calc(100% - 80px);
  left: 80px;
}

/* END OF CONTENT */

/* START OF NAV BAR */
#content nav {
  height: 56px;
  background: var(--primary);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  position: relative;
}

#content nav::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -35px;
  left: -5px;
  border-radius: 50%;
  box-sizing: -20px -20px 0 var(--shadow);
}

#content nav a {
  color: var(--secondary-black);
}

#content nav .bx.bx-menu-alt-left {
  cursor: pointer;
}

#content nav .bx.bx-menu-alt-left:hover {
  color: var(--accent);
}

#content nav .nav-link {
  font-size: 16px;
  transition: .3s ease;
}

#content nav .nav-link:hover {
  color: var(--accent);
}

#content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}

#content nav form .form-input {
  display: flex;
  align-items: center;
  height: 36px;

}

#content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: #F4F5FB;
  border-radius: 36px 0 0 36px;
  outline: none;
  flex-grow: 1;
}

#content nav form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--accent);
  color: var(--secondary-gray);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}

#content nav .notification {
  font-size: 20px;
  position: relative;
}

#content nav .notification .num {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--primary);
  background-color: var(--error);
  color: var(--secondary-gray);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content nav .notification:hover i.bx.bxs-bell {
  color: var(--accent);
}

#content nav .profile {
  font-size: 24px;
}

/* END OF NAVBAR */

/* START OF MAIN */
#content main {
  width: 100%;
  padding: 36px 24px;
}

#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--secondary-black);
}

#content main .head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}

#content main .head-title .left .breadcrumb li {
  color: var(--secondary-black);
}

#content main .head-title .left .breadcrumb li a {
  color: var(--secondary-gray);
  pointer-events: none;
}

#content main .head-title .left .breadcrumb li a.active {
  color: var(--accent);
  pointer-events: unset;
}

#content main .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}

#content main .box-info li {
  padding: 24px;
  background: var(--primary);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

#content main .box-info li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background: var(--accent);
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content main .table-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--secondary-black);
  overflow: auto;
}

#content main .table-data>div {
  border-radius: 20px;
  background: var(--primary);
  padding: 24px;
  overflow-x: auto;
}

#content main .table-data .order .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
  min-width: 420px;
}

#content main .table-data .order .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}

#content main .table-data .head .bx {
  cursor: pointer;
}

#content main .table-data .order {
  flex-grow: 1;
  flex-basis: 500px;
}

#content main .table-data .order table {
  width: 100%;
  border-collapse: collapse;
  min-width: 420px;
}

#content main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--tinge-aqua);
}

#content main .table-data .order table td {
  padding: 16px 0;
}

#content main .table-data .order table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;
}

#content main .box-info li .text h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}

#content main .table-data .order table td i {
  font-size: 24px;
  border-radius: 50%;
}

#content main .table-data .order table tbody tr:hover {
  background: var(--shadow);
}

#content main .table-data .order table tr td .status {
  font-size: 10px;
  font-weight: 700;
  padding: 6px 16px;
  color: var(--secondary-black);
  border-radius: 20px;
}

#content main .table-data .order table tr td .status.completed {
  background-color: var(--approve);
}

#content main .table-data .order table tr td .status.process {
  background-color: var(--accent);
}

#content main .table-data .order table tr td .status.pending {
  background-color: chocolate;
}

/* END OF MAIN */

/* START OF LOGOUT MODAL */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  height: 100px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.logout-button {
  width: 100%;
  height: 36px;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  background: var(--accent);
  color: var(--secondary-gray);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.logout-button:hover {
  background: var(--error);
  color: white;
}

/* END OF LOGOUT MODAL */

/* RESPONSIVENESS */
@media screen and (max-width: 768px) {
  #sidebar {
    width: 200px;
  }

  #content {
    width: calc(100 - 80px);
  }

  #content {
    position: relative;
    width: calc(100 - 260px);
    left: 260px;
    transition: .3s ease;
  }


  #content nav .nav-link {
    display: none;
  }

  #sidebar.hide~#content {
    width: calc(100% - 80px);
    left: 80px;
  }
}

@media screen and (max-width: 576px) {
  #content nav form .form-input input {
    display: none;
  }

  #content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
    color: var(--secondary-gray)
  }

  #content nav form.show .form-input input {
    display: block;
    width: 100%;
  }

  #content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    border-radius: 0 36px 36px 0;
    color: var(--secondary-gray);
    background: var(--error);
  }

  #content nav form.show~.notification,
  #content nav form.show~.profile {
    display: none;
  }
}