.main_container{
  margin: 0;
  padding: 0;
  height: 100vh;
}

.main_content{
  margin: 0;
  padding: 0;
  height: 100vh;
}

.main_layout{
  margin: 0;
  padding: 0;
  display: flex;
}

.main_layout_content{
  margin: 0;
  padding: 30px;
  display: flex;
  flex-flow: column;
  width: 100%;
}